{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'dist/plugins/bootstrap/css/bootstrap.css' %}">


    <!-- FONTAWESOME CSS -->
    <link rel="stylesheet" href="{% static 'dist/plugins/font-awesome/css/font-awesome.css' %}">
  
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'dist/custom/css/main.css' %}">

    <!-- DATA TABLES -->
    <link rel="stylesheet" href="{% static 'dist/plugins/data-tables/datatables.min.css' %}">
  
    <!-- JQUERY JS -->
    <script src="{% static 'dist/plugins/jquery/jquery.3.2.1.min.js' %}"></script>
  
    <!-- BOOTSTRAP JS -->
    <script src="{% static 'dist/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- DATA TABLE JS-->
    <script src="{% static 'dist/plugins/data-tables/datatables.min.js' %}"></script>
  
    <!-- CUSTOM JS -->
    <script defer src="{% static 'dist/custom/js/main.js' %}"></script>

    <!-- TODO: try to fix the Title -->
